*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7F072B; 
    background-image: linear-gradient(to right, #820A2C , #7F072B , #4f021a);

}

form{
    background-color: #ffff;
    color: black;
    border-radius: 10px;
    padding: 6vh;

}

input{
    text-align: center;
    border-color: #4f021a;
    border-width: 1.5px;
    border-radius: 2px;
    background-color: #970d3913;
}

#inpt1{
    width: 3.5rem;
    height: 1.5rem;
}

#inpt2{
    width: 3.5rem;
    height: 1.5rem;
}

#inpt3{
    width: 3.5rem;
    height: 1.5rem;
}

#inpt4{
    width: 3.5rem;
    height: 1.5rem;
}

#inpt5{
    width: 3.5rem;
    height: 1.5rem;
}

.botao{

    background-color: #4f021a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.botao:hover {opacity: 1}